# Firs of all you need to download the "Python whois" for the url_analyser.py with this command : 
pip install python-whois requests

# Then you need tp install "scikit-learn pandas" for the "model.py"
pip install scikit-learn pandas numpy